@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

* {
  font-family: inherit;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: max-content 1fr;
}

.header {
  z-index: 1;
  background-color: #7c3aed;
  color: white;
  text-align: center;
  padding: 1rem 0;
  box-shadow: 0 4px 10px -2px rgb(189, 189, 189);
}

.header > h1 {
  font-size: 3rem;
}

.content {
  background-color: rgb(226, 232, 240);
  display: grid;
  grid-template-rows: max-content 1fr;
}

.btn-section {
  justify-self: center;
  padding: 1rem;
}

button {
  cursor: pointer;
  text-decoration: none;
  border: none;
}

button.add {
  background-color: transparent;
  outline: none;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 8px;
  padding: 0.75rem 2rem;
  transition: 1000ms;
}

button.add:hover {
  background-color: #0ea5e9;
  color: white;
  transform: translateY(-5px);
  transition: 250ms ease-in;
}

button.add:active {
  background-color: #7dd3fc;
}

form#book-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

form#book-form {
  input,
  button,
  label {
    font-size: 1.25rem;
  }

  h2 {
    font-size: 2rem;
  }

  input[type="text"],
  input[type="number"],
  button {
    border-radius: 5px;
  }

  input[type="text"],
  input[type="number"] {
    width: 100%;
    border-radius: 5px;
    border: none;
    padding: 0.7rem;
  }

  input[type="checkbox"] {
    transform: scale(1.25);
  }

  input:focus {
    outline: none;
  }

  button {
    width: 100%;
    padding: 0.5rem 0;
  }

  button:hover {
    transform: scale(1.075);
    transition: 200ms linear;
  }

  button.submit {
    background-color: #86efac;
  }

  button.cancel {
    background-color: #fda4af;
  }

  button.submit:hover {
    background-color: #4ade80;
  }

  button.cancel:hover {
    background-color: #fb7185;
  }
}

.error {
  display: none;
  color: red;
}

.error.active {
  display: block;
}

dialog.book-prompt {
  width: 300px;
  border: none;
  border-radius: 8px;
  background-color: rgb(240, 240, 240);
  text-align: center;
}
