@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
@import "./utils.css";

* {
  margin: 0;
  padding: 0;
  font-family: inherit;
  box-sizing: border-box;
}

body {
  background-image: url("../images/sashimi.jpg");
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
  font-family: "Noto Sans JP", sans-serif;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 3rem;
  color: white;
}

h3 {
  font-size: 1.5rem;
  color: white;
}

p {
  font-size: 1rem;
  color: var(--p-color);
}

button {
  border: none;
  outline: none;
}

header {
  display: flex;
  justify-content: space-between;
  max-width: var(--max-width);
  align-items: center;
  margin: 0 auto;
  color: #1e2a3d;
  padding: 0.5rem;

  p {
    font-size: 2rem;
    font-weight: bold;
  }

  .nav-header {
    display: flex;
    gap: 1rem;
  }

  button {
    font-size: 1rem;
    background-color: transparent;
    color: #1e2a3d;
    padding: 0.5rem 1rem;
    border-radius: 16px;
    border: none;
  }
}

#info-section-wrapper {
  background-color: rgb(22, 22, 22);
  color: white;
  gap: 6rem;
  padding: 6rem 0;

  #info-section {
    max-width: var(--max-width);
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }

  .contact,
  .hours,
  .subscribe,
  .hour-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .hour-list {
    list-style-type: none;
  }

  .subscribe {
    width: 300px;

    input {
      padding: 0.5rem;
    }

    button {
      padding: 0.5rem;
      font-size: 1rem;
      background-color: rgb(var(--btn-color));
      border: none;
      outline: none;
    }
  }

  p,
  li {
    color: rgb(201, 196, 189);
  }
}

#footer-section {
  background-color: rgb(36, 36, 36);
  display: flex;
  justify-content: center;
  text-align: center;

  .footer-content {
    font-size: 1rem;
    padding: 1rem;
    color: rgb(236, 236, 236);
    text-decoration: none;
  }
}
