@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

:root {
  --primary-color: rgb(238, 238, 238);
  --secondary-color: rgb(34, 34, 34);
  --ship-color: rgb(68, 68, 68);
  --red-color: rgb(255, 133, 133);
  --green-color: rgb(133, 255, 179);
}

html {
  background-color: var(--primary-color);
}

.gameboards.active {
  display: flex;
  gap: 1rem;
}

* {
  font-family: inherit;
  box-sizing: border-box;
}

body,
h1,
p {
  font-family: "Anton", sans-serif;
  padding: 0;
  margin: 0;
}

.play,
.selection,
.gameboards {
  display: none;
}

.play.active {
  display: block;
}

.selection.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.board {
  display: grid;
  width: 30rem;
  height: 30rem;

  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);

  .grid-cell {
    border: 1px solid black;
  }

  .grid-cell.place {
    background-color: var(--ship-color);
  }

  .grid-cell.hit {
    background-color: var(--red-color);
  }

  .grid-cell.miss {
    background-color: var(--green-color);
  }
}

.board.hov {
  > .grid-cell:hover {
    backdrop-filter: brightness(70%);
  }

  .grid-cell.free {
    cursor: pointer;
  }

  .grid-cell.valid {
    background-color: var(--green-color);
  }

  .grid-cell.invalid {
    background-color: var(--red-color);
  }
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  .header h1 {
    font-size: 5rem;
  }

  button {
    font-size: 2rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    padding: 0.75rem 1.25rem;
  }

  button:hover {
    transform: scale(1.05);
    transition: all 300ms ease;
  }

  .selection {
    button.orientation {
      font-size: 1.5rem;
    }
    .description {
      font-size: 1.5rem;
    }
  }

  dialog.play-again-dialog {
    outline: none;
    border: none;
    padding: 2rem;
    border-radius: 8px;
    background-color: var(--primary-color);

    .dialog-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }

    .game-over-message {
      font-size: 2rem;
      text-align: center;
    }
  }
}
