html {
  background-color: white;
}

.gameboards.active {
  display: flex;
  gap: 1rem;
}

.play,
.selection,
.gameboards {
  display: none;
}

.play.active,
.selection.active {
  display: block;
}

.board {
  display: grid;
  width: 30rem;
  height: 30rem;

  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);

  .grid-cell {
    border: 1px solid black;
  }

  .grid-cell.place {
    background-color: grey;
  }

  .grid-cell.hit {
    background-color: red;
  }

  .grid-cell.miss {
    background-color: green;
  }
}

.board.hov {
  > .grid-cell:hover {
    background-color: grey;
  }

  .grid-cell.free {
    cursor: pointer;
  }

  .grid-cell.valid {
    background-color: green;
  }

  .grid-cell.invalid {
    background-color: red;
  }
}
