@font-face {
  font-family: norse-bold;
  src: url("./fonts/Norse-Bold.otf");
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: Helvetica, sans-serif;
}

div.container {
  display: flex;
}

div.splash {
  overflow: hidden;
  height: 100vh;
  max-width: 30vw;
  position: relative;
  color: white;
  flex: 1;
}

.img-splash {
  height: 100vh;
}

.logo {
  font-family: "norse-bold", sans-serif;
  background-color: rgba(27, 27, 27, 0.5);
  position: absolute;
  top: 30vh;
  display: flex;
  width: 100%;
  font-size: 10vh;
  justify-content: center;
  padding: 1vh 0;
}

.logo-splash {
  height: 10vh;
  width: auto;
}

.credit-container {
  --credit-font: 2vh;
  position: absolute;
  top: calc(98vh - var(--credit-font));
  width: 100%;
  display: flex;
  justify-content: center;
}

p.credit {
  font-size: var(--credit-font);
}

a:visited {
  color: rgb(226, 49, 49);
}

.intro {
  width: 75ch;
  font-size: 1.5rem;
  font-weight: bold;
}

div.form-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: rgb(248, 248, 248);
  width: 100%;
}

div.form-background {
  background: white;
  width: 100%;
}

.form-row {
  display: flex;
  gap: 3rem;
  margin: 16px 0;
}

.form-item {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.spacing {
  padding: 16px 32px;
  box-sizing: border-box;
}

label,
input {
  font-size: 16px;
}

input {
  padding: 4px;
  border: 1px solid grey;
  border-radius: 4px;
  background-color: rgb(252, 252, 252);
}

input:focus {
  outline: lightblue;
  /* border-color: lightblue; */
  border: 2px solid rgb(104, 136, 225);
}

input.invalid,
input:invalid {
  outline: red;
  border: 2px solid red;
}

span.error {
  color: red;
  font-size: 0.9rem;
}

button.create-account-btn {
  font-size: 16px;
  padding: 12px 42px;
  font-weight: bold;
  color: white;
  background-color: rgb(89, 109, 72);
  border: none;
  border-radius: 8px;
}

button.create-account-btn:active {
  background-color: rgb(160, 182, 140);
}

.account-message {
  font-size: 16px;
}

a.log-in {
  text-decoration: none;
  font-weight: bold;
  color: rgb(89, 109, 72);
}
