@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;700&display=swap");

body {
  margin: 0;
  font-family: Roboto, serif;
}

.dark-background {
  background-color: #1f2937;
}

.start {
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-container {
  width: 1100px;
}

.logo {
  font-size: 24px;
  font-weight: 700;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.secondary {
  color: #e5e7eb;
  font-size: 18px;
}

.primary-text-color {
  color: #f9faf8;
}

.header,
.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
  gap: 48px;
}

.header-links {
  display: flex;
  gap: 16px;
}

.title {
  font-weight: 1000;
  font-size: 48px;
}

.intro-picture {
  width: 400px;
  height: 250px;
  flex-shrink: 0;
}

.sign-up {
  background-color: #3b82f6;
  border: none;
  padding: 8px 32px;
  border-radius: 8px;
  font-weight: 600;
}

img.content-pic {
  border: 5px solid #3b82f6;
  border-radius: 16px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 48px;
  /* gap: 48px; */
}

.boxes {
  display: flex;
  gap: 32px;
  justify-content: center;
  flex-wrap: wrap;
}

.info-header {
  font-size: 36px;
  font-weight: 1000;
  color: #1f2937;
  padding: 48px;
}

p.subtext {
  color: darkslategrey;
  font-size: 18px;
  max-width: 200px;
}

.quote-background {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 128px 0;
}

.quote {
  width: 816px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quote-body {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
}

.signature {
  align-self: flex-end;
  font-size: 24px;
  font-weight: bold;
}

.signature,
.quote-body {
  color: #1f2937;
  margin: 0;
}

.call-to-action-background {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 96px 0;
}

.call-to-action {
  width: 1100px;
  background-color: #3b82f6;
  color: white;
  border-radius: 8px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.cta-main,
.cta-sub {
  margin: 0;
}

.cta-text {
  padding: 48px 0;
}

.cta-main {
  font-size: 24px;
  font-weight: bold;
}

.cta-sub {
  font-weight: lighter;
}

.cta-btn {
  background-color: transparent;
  border: 2px solid;
  color: white;
  font-size: 18px;
  padding: 8px 32px;
  border-radius: 8px;
  font-weight: 600;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  color: white;
  margin: 32px 0;
}
