body,
p,
h1,
h2 {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
}

.side-menu {
  width: 350px;
  display: none;
}

.nav-btn,
.side-menu.open {
  display: block;
}

.nav-btn.close {
  display: none;
}

.project-item {
  display: flex;
  cursor: pointer;
}

dialog {
  box-sizing: border-box;
  padding: 0;
}

form#new-task-form {
  display: flex;
  flex-direction: column;
}
