/* .game-board > .ttt-cell {
  position: relative;
}

.game-board > .ttt-cell::after {
  content: "";
  background-color: red;
  position: absolute;
  width: 100vw;
  height: 2px;
  top: -1rem;
  left: 0;
}

.game-board > .ttt-cell::before {
  content: "";
  background-color: red;
  position: absolute;
  width: 2px;
  height: 100vh;
  top: 0;
  left: -1rem;
} */

.ttt-cell {
  padding: 2rem;
}

.start-section,
.game-board,
.game-message,
.reset {
  display: none;
}

.start-section.active {
  display: block;
}

.game-board.active {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  /* align-items: stretch; */
  /* text-align: center; */
  align-items: center;
  justify-content: center;
  /* gap: 2rem; */
  /* overflow: hidden; */
  border: 1px solid black;
}

.game-message.active {
  display: block;
}

.reset.active {
  display: block;
}

.ttt-cell:disabled {
  background-color: #ccc;
  color: black;
}
