@import "../utils.css";

#home-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #1e2a3d;
  height: 100vh;
  margin-top: -60px;
  text-align: center;
  gap: 1rem;

  /* position: absolute;
  top: 50vh;
  left: 50%; */
  .title {
    font-size: 6rem;
  }

  .description-section {
    max-width: calc(var(--max-width) / 2);
    text-align: center;
    font-size: 1.25rem;
  }

  .order-btn {
    background-color: #59caec;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 1rem;
  }
}
